
@import url(Style/mobile600.css);
@import url(Style/rectangle1024.css);
@import url(Style/rectangle1366.css);

@import url(https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap);

body {
  font-family: "Indie Flower", cursive;
}

nav {
    grid-area: navigation bar;
    display: flex;
    width: 100%;
    background-color: rgb(183, 230, 234);
  }

  .clicker-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    width: 95%;
    margin: auto auto;
    padding: 5px;
  }