@media (max-width: 600px) {
  body {
    grid-template-areas:
      "navigation-bar"
      "header"
      "main"
      "footer";
  }

  main {
      flex-direction: column;
      width: 100%;
  }

.posts {
  grid-template-areas:
    "post1"
    "post2"
    "post3"
    "post4"
    "post5";
  grid-template-columns: 100%;
  }
}

