@media (max-width: 600px) {
  body {
    grid-template-areas:
      "navigation bar"
      "header"
      "main"
      "footer";
  }

  header {
    grid-area: header;
    display: flex;
    background-color: aqua;
  }

  main {
    grid-area: main;
    display: flex;
    background-color: beige;
  }

  nav {
    grid-area: nav;
    display: flex;
  }

  footer {
    grid-area: footer;
    display: flex;
    background-color: brown;
  }
}
