@media (min-width: 1024px) {
  body {
    grid-template-areas:
      "navigation-bar"
      "header"
      "main"
      "footer";
  }

  nav {
    font-size: 22px;
  }

  main {
    flex-direction: row;
    justify-content: space-between;
  }

  .posts {
    grid-template-areas:
      "post1 post2"
      "post3 post4"
      "post5 post6";
    grid-template-rows: 1fr 1fr 1fr;
  }

  .image-frame {
    width: 350px;
    height: 350px;
  }
}
