@import url(post_style.css);
@import url(mobile600.css);
@import url(rectangle1024.css);
@import url(rectangle1366.css);

@import url(https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap);

body {
  font-family: "Indie Flower", cursive;
  display: grid;
}

button{
  font-family: "Indie Flower", cursive;
  background-color:#d6ccbb;
  padding: 5px;
  border: none;
  font-size: medium;
  border-radius: 20px;
}

button:hover {
  opacity: 0.7;
}

a {
  color: #3a2803;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

a:active {
  text-decoration: none;
}

img {
  width:100%;
  height: auto;
  border-radius: 10px;
}

nav {
  grid-area: navigation-bar;
  display: flex;
  width: 100%;
  background-color: #d6ccbb;
}

.clicker-box {
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: inherit;
  width: 95%;
  margin: auto auto;
  padding: 5px;
}

.header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 36px;
}

blockquote {
  font-size: 1.5rem;
  display: flex;
  margin: auto;
  justify-content: center;
}

main {
  grid-area: main;
  display: flex;
  margin-top: -10px;
  margin: -10px 10px;
}

.posts {
  grid-area: posts;
  display: grid;
  font-size: 16px;
  justify-content: center;
}

.post1 {
  grid-area: post1;
}

.post2 {
  grid-area: post2;
}

.post3 {
  grid-area: post3;
}

.post4 {
  grid-area: post4;
}

.post5 {
  grid-area: post5;
}

.post-frame {
border: 1px solid #3a2803;
background-color: #f1eee9;
border-radius: 10px;
padding: 10px;
margin:10px;
justify-content: center;
display: flex;
flex-direction: column;
}

.post-title {
  margin: auto;
  padding: 10px 5px;
  text-align: center;
}

.add-ons {
  grid-area: add-ons;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.add-ons > * {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  flex-direction: column;
  display: flex;
  background-color: #f1eee9;
}

.more {
  float: right;
  padding-right: 5px;
  margin-bottom: 5px;
}

.tags-box {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 5px;
  padding: 2px;
  text-decoration-line: underline;
}

footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  background-color: #d6ccbb;
  margin: 10px;
}

.fa {
  padding: 20px;
  width: 25%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
